import("stats")
importFrom("ggplot2", "ggplot", "aes_string", "geom_histogram", 
                      "geom_hline", "facet_grid", "labs", "geom_hex", 
                      "geom_line", "geom_text", "geom_vline", "xlab", 
                      "ylab", "geom_point", "after_stat")
importFrom("matrixTests", "row_wilcoxon_twosample", "row_wilcoxon_onesample",
                          "row_t_equalvar", "row_t_welch")
importFrom("MKdescr", "scale_y_neglog10")
importFrom("MKinfer", "volcano")
importFrom("qqplotr", "stat_qq_point", "stat_qq_line", "stat_qq_band")
importFrom("coin", "wilcox_test", "pvalue", "statistic", "confint")
export(power.ancova,
       power.diagnostic.test,
       power.hsu.t.test,
       power.nb.test,
       power.prop1.test,
       power.welch.t.test,
       sim.power.t.test,
       sim.ssize.wilcox.test,
       sim.power.wilcox.test,
       ssize.pcc,
       ssize.propCI,
       ssize.reference.range,
       qqunif,
       volcano)

S3method(print, sim.power.ttest)
S3method(print, sim.power.wtest)
S3method(hist, sim.power.ttest)
S3method(hist, sim.power.wtest)
S3method(qqunif, default)
S3method(qqunif, sim.power.ttest)
S3method(qqunif, sim.power.wtest)
S3method(volcano, sim.power.ttest)
S3method(volcano, sim.power.wtest)
